version: "3.8"

services:
  api:
    image: node:20
    working_dir: /app
    volumes:
      - .:/app
    command: node src/server.js
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  redis:
    image: redis:7
